<div id="footer" class="hidden-print">
			
			<!--  Copyright Line -->
			<div class="copy">&copy; 2015 - <a href="http://www.cardamomo.es">Cardamomo</a> - All Rights Reserved. Power by <a href="http://www.gudnus.com" target="_blank">Gudnus</a></div>
			<!--  End Copyright Line -->
</div>