<ul class="<? echo $id;?>">

  <? foreach($sliders['Image'] as $img):?>
 
    <li data-thumb="<?php echo $this->Html->url('/'); ?>files/image/image/<? echo $img['image_dir'];?>/thumb_<? echo $img['image'];?>"><img src="<?php echo $this->Html->url('/'); ?>files/image/image/<? echo $img['image_dir'];?>/thumb_<? echo $img['image'];?>" title="<? echo $img['title'];?>" /></li>
  <? endforeach;?>
</ul>