.language_ZH .info p,
.language_JA .info p {
    line-height: 16px;
}

.input-field-dbem_entrada_regalo {
    display: none;
}

body, .wrapper input[type="text"], .wrapper input[type="email"],
.wrapper input[type="search"], .wrapper input[type="url"], .wrapper input[type="tel"],
.wrapper input[type="password"], .wrapper input[type="datetime"],
.wrapper input[type="date"], .wrapper input[type="month"], .wrapper input[type="week"],
.wrapper input[type="time"], .wrapper input[type="datetime-local"],
.wrapper input[type="number"], .wrapper input[type="range"], .wrapper textarea,
.wrapper select.wrapper label, #OT_form .OT_searchTimeField, #OT_form .OT_searchDateField,
#OT_form .OT_searchPartyField
{
    font-family: helvetica;
}

.JamSessionsImg img
{
    width: 120px;
    float: left;
    margin-top: -10px;
}

.marginT_10
{
    margin-top: 10px;
}

.marginT_30
{
    margin-top: 30px;
}

.marginB_30
{
    margin-bottom: 30px;
}

.marginB_40
{
    margin-bottom: 40px;
}

b
{
    color: #000;
    text-shadow: 0 0 0 black;
}



.italic
{
    font-style: italic;
}

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

.text-justify
{
    text-align: justify;
}

.text-left
{
    text-align: left;
}

.wonderplugin-engine
{
    display: none !important;
}

.small_h1
{
    font-size: 40px;
    margin-top: 0;
}

.telephone
{
    display: block;
    float: left;
    padding-left: 28px;
    text-indent: -14px;
    width: 100%;
}

.email
{
    clear: both;
}

.simpleList {
    list-style: none;
    padding-left: 0;
}

p {
    text-align: justify;
}

.map-link {
    text-indent: -999999px;
}

.map-link:after {
    content: "Localización";
    text-indent: 0;
    display: block;
    margin-top: -20px;
}

#wrapper .page-content
{
    margin-top: 30px;
}

.header-contact-info .hours ,
.header-contact-info .address
{
    color: #e5e5e5;
    font-size: 13px;
    line-height: 18px;

}

.header-contact-info .espectaculos
{
    margin-top: 0;
}

.header-contact-info span
{
    margin: 0 15px;
}

/* CUSTOM STYLES */



.customList
{
    list-style: none;
    margin: 20px 0;
    overflow: hidden;
    padding: 0;
}

.customList p
{
    margin: 1em 0;
}

.customList li
{
    float: left;
    padding: 24px;
    width: 20%;
    min-height: 200px;
    min-width: 195px;
}

.customList #CDSSCROLLINGRAVE.wide
{
    width: 355px;
}

.customList #CDSSCROLLINGRAVE.shadow
{
    box-shadow: none;
}

.customList #CDSSCROLLINGRAVE.gray
{
    background-color: transparent;
}

#CDSWIDCOE
{
    margin: 0 auto !important;
}

.customList #TA_certificateOfExcellence525
{
    padding-top: 15px;
}

.customList .TA_cdsscrollingravewide
{
    margin-top: 10px;
}

.subBlock
{
    height: auto;
    margin-top: 20px !important;
    margin: 0 auto;
    padding: 0;
}

.subBlock img {
    margin: 0 auto;
    width: 200px;
}

.subBlock p
{
    padding: 0 10px;
}

.subBlock p, .leftBlock p
{
    font-size: 0.9em;
    line-height: 20px;
    margin: 0;
}

.leftBlock {
    float: left;
}

.leftBlock img
{
    width: 150px;
}

.leftBlock p:first-child
{
    margin-top: 5px;
}

.globalBlockLink {
    color: #747474;
}

.uniqueBlock
{
    margin: 0 auto;
    width: 180px;
}

.uniqueBlock img
{
    margin-top: -10px;
}

/*GALLERY*/
#cboxTitle {
    display: none;
}

.gird-gallery a:last-child
{
    display: none;
}

/*SOCIAL ICONS*/

.socialmedia-buttons a {
    float: left;
    height: 85px;
    margin-left: 2px;
    width: 33px;
}

/* youtube */
#youtube_gallery_1 .youtube_gallery_item
{
    margin: 0 20px;
}

#youtube_gallery_1.youtube_gallery .youtube_gallery_item .ytsg_play {
    height: 50px;
    left: 65px;
    top: 25px;
    width: 50px;
}

.youtube_gallery_player {
    position: relative;
    width: 180px;
}

/*SIDEBAR*/

#menu-sidebar-menu-destacados li a,
#menu-sidebar-menu-destacados-en li a
{
    font-size: 20px;
}

/*MENU RESERVA ONLINE*/
#menu-sidebar-menu-venta-de-entradas a
{
    background: none repeat scroll 0 0 #bf301a;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: Montserrat, onserrat;
    padding: 20px;
    text-transform: uppercase;
}

#menu-item-9064 a:hover
{
    opacity: 0.8;
}

/*parallax*/
.fill-background-content
{
    background-color: transparent !important;
}

.fill-background-content a
{
    color: #fff;
}

.parallax-section
{
    width: 50%;
    float: left;
}

/*SIDEBAR*/

.sidebar .widget {
    margin-left: 20px;
    margin-right: 20px;
}

/*Home*/

.page-links-box h2 small {
    font-size: 0.5em;
    letter-spacing: 0;
    line-height: 30px;
    text-shadow: 0 0 20px black;
}

.NYT {
    height: 200px;
    margin-left: 45px;
    margin-top: 350px;
    min-width: 295px;
    width: 295px;
    float:left;
}

.NYT p
{
    color: rgb(255, 255, 255);
    font-family: times;
    margin-top: -15px;
    text-shadow: 0 0 20px black;
    width: 295px;
}

.NYT a
{
    color: #fff;
}
ul.mhome{
  margin-top: 210px;
  float:right;
  width: 300px; list-style: none;
 text-align: center;  padding:0;
 color:#fff;
 font-size:25px;
 text-decoration: underline;
}
ul.mhome li{
padding: 10px 0px;

}
ul.mhome li a{
color:#fff;
 font-size:25px;
 text-decoration: underline;


}


.tripAdvisor
{
    padding-top: 20px;
}

/* FOOTER */
.social-button.tripadvisor, .social-button.blog {
    display: inline-block;
    height: 17px;
    line-height: 28px;
    margin: 10px 10px 0 0;
}

.funky-icon-tripadvisor
{
    background-image: url("/wp-content/customIcons/tripAdvisorGris.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    display: block;
    height: 22px;
    width: 22px;
    background-position: 0 -3px;
}

.funky-icon-blog
{
    background-image: url("/wp-content/customIcons/blog_gray_small.png");
    display: block;
    height: 20px;
    width: 40px;
}

/* Newsletter */
.newsletter .acceptance-175 input
{
    height: 15px !important;
}

.newsletter span
{
    font-size: 12px;
    font-style: italic;
    margin-left: -5px;
}

#cookie-law-info-bar
{
    width: 98%;
}

table.em-calendar td
{
    background-color: #fff;
}

.socialmedia-buttons.smw_left img
{
    width: 32px;
}

.em-ticket-select
{
    background-color: lightgray !important;
    float: left;
}

.em-tickets-spaces
{
    overflow: hidden;
}

.events-table i
{
    display: none;
}

.single-event h3:first-child
{
    margin-bottom: 20px;
}

.single-event .em-booking
{
    /*margin-top: -35px;*/
}

.thick
{
    border-color: #999999;
    border-style: solid;
    border-width: 2px !important;
    margin-top: 15px !important;
}

.page-content h1 {
    font-size: 40px;
}

.page-content h2 {
    font-size: 24px;
}

.su-spoiler-icon {
    color: #bf301a;
    font-size: 22px !important;
    margin-top: -1px;
}

.su-spoiler-title
{
    font-size: 16px !important;
    color: black;
}

.su-spoiler {
    margin-top: 20px;
}

#cycloneslider-souvenirs-1 .cycloneslider-slide img
{
    width: 50%;
}

#cycloneslider-souvenirs-1
{
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
}

.galleryContent
{
    margin-top: 20px;
}

.sidebar .widget-title
{
    font-size: 16px;
}

.sidebar .em-calendar-wrapper
{
    margin-top: -35px;
}

#nav_menu-2
{
    border: medium none;
}

.events-table-link {
    float: right;
    margin-bottom: 40px;
}

.events-table-link a
{
    background: none repeat scroll 0 0 #bf301a;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: Montserrat, onserrat;
    padding: 10px;
    text-transform: uppercase;
}

/* HOME */
.tripAdvisorHome {
    float: left;
    margin-top: 70px;
    width: 20%;
}

.certificate2015 {
    margin-left: 60px;
}

.tripAdvisorCertificate {
    width: 120px !important;
    min-width: 100px;
    height: 120px !important;
}
.social-button.tripadvisor, .social-button.blog {
    display: inline-block;
    height: 17px;
    line-height: 28px;
    margin: 10px 10px 0 0;
}
.funky-icon-tripadvisor
{
    background-image: url("../images/tripAdvisorGris.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    display: block;
    height: 22px;
    width: 22px;
    background-position: 0 -3px;
}

.funky-icon-blog
{
    background-image: url("../images/blog_gray_small.png");
    display: block;
    height: 20px;
    width: 40px;
}
/*parallax*/
.fill-background-content
{
    background-color: transparent !important;
}

.fill-background-content a
{
    color: #fff;
}

.parallax-section
{
    width: 50%;
    float: left;
}

/*SIDEBAR*/

.sidebar .widget {
    margin-left: 20px;
    margin-right: 20px;
}

/* Menu */

.headerLanguage .disable{
  opacity: 0.3;
}

#primary-nav li.lang-item {
    float: left;
    height: 20px;
    width: 25px !important;
    top: -22px;
    width: 20px;
    display:none !important;
}

#primary-nav li.lang-item a
{
  border:none;
}

#primary-nav li.lang-item:hover{
  background-color:#070707 !important
}

#header .header-navigation {
    margin-left: -45px;
    margin-top: -62px;
    width: 100%;
}

#primary-nav a{
  font-size:  11px;
  color: #fff;
}

a.funky-button
{
font-size:14px;
}

.wrapper .page-header .funky-button:hover, .wrapper .parallax-section .funky-button:hover
{
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  color:#fff;
  border: 2px solid #66B741;
}

.site-header, .site-header .site-width, .header-logo, .header-contact-info
{
   height: 160px;
}

.wrapper
{
  padding-top: 90px;
  background-color: #070707;
  border-left-width: 20px;
border-right-width: 20px;
}

.header-navigation #primary-nav li
{
  /*width: 9%;*/
  width: 12%;

}

#menu-item-328, #menu-item-790, #menu-item-40,
#menu-item-13471, #menu-item-287, #menu-item-9006,
#menu-item-10543, #menu-item-10541
{
  min-width: 145px;
}

#menu-item-10542{
  min-width: 150px;
}

#menu-item-45, #menu-item-47
{
  max-width: 80px;
}

#menu-item-485, #menu-item-10545
{
  min-width: 110px;
}

#menu-item-293, #menu-item-44{
  min-width: 140px;
}

#menu-item-10547
{
  min-width: 120px;
}

.header-logo {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 0;
    position: relative;
    text-align: center;
    width: 400px;
}

/*HEADER LANGUAGE*/

.headerLanguage
{
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 30px;
    width: 270px;
}

.headerLanguage li
{
  list-style: none;
  float: left;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  text-indent: -99999px
}

.headerLanguage > li:hover
{
  margin-top: -1px;
  cursor: pointer;
}

.headerLanguage > .disable:hover
{
  margin-top: 3px;
  cursor: default;
}


.headerLanguage #arabian
{
  background-image: url('../images/flags/ArabLeague.png');
}

.headerLanguage #chinesse
{
  background-image: url('../images/flags/China.png');
}

.headerLanguage #english
{
  background-image: url('../images/flags/UnitedKingdom.png');
}

.headerLanguage #french
{
  background-image: url('../images/flags/France.png');
}

.headerLanguage #german
{
  background-image: url('../images/flags/Germany.png');
}

.headerLanguage #italian
{
  background-image: url('../images/flags/Italy.png');
}

.headerLanguage #japanesse
{
  background-image: url('../images/flags/Japan.png');
}

.headerLanguage #russian
{
  background-image: url('../images/flags/RussianFederation.png');
}
.headerLanguage #spanish
{
  background-image: url('../images/flags/Spain.png');
}

.headerLanguage #portuguese
{
  background-image: url('../images/flags/Brazil.png');
}


/*SOCIAL MEDIA HEADER*/
.socialMedia_Header {
    position: absolute;
    right: 25px;
    top: 50px;
}

.socialMedia_Header .social-button {
    color: #999999;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 6px 0 0;
    width: 25px;
}


.social-button.flickr
{
  font-size: 22px;
}

#header .buyOnline
{
  display: none;
}

.header-contact-info
{
  display: none !important;
}


#primary-nav a, .site-header .toggle, .site-header .toggle a, .site-header .toggle a:hover
{
  color: #fff !important;
}

#primary-nav > li > a {
    border: medium none !important;
    font-family: Helvetica;
    font-weight: normal;
    padding: 20px 0 !important;
    letter-spacing: 1px;
}

.info
{
    float: left;
    padding-top: 25px;
    width: 315px;
    font-family: helvetica;
}

.buyOnlineDesktop{
    font-size: 12px;
    margin-top: 0;
    padding: 5px 80px;
    width: 75%;
}

.info a
{
  color:white;
}

.info .contact
{
    float: right;
    margin-left: 0;
    margin-right: -80px;
    margin-top: -20px;
}

.info .contact img
{
    width: 20px;
}

.info .contact a
{
      float: left;
    margin-right: 10px;

}

.info .contact .wifiIcon {
    margin-top: -5px;
    width: 55px;
}

.phones {
    font-family: Montserrat;
    font-size: 15px !important;
    font-weight: bold !important;
    margin-top: 0 !important;
}

.info p {
    font-size: 12px;
    font-weight: lighter;
    line-height: 22px;
    margin: 0;
    padding-left: 2px;
    text-align: justify;
}

.menu-item
{
  border: none !important;
}

#primary-nav > .current-menu-item > a

{
      border-left: medium none;
    margin-bottom: 13px;
    padding-bottom: 5px !important;
    border-bottom: 2px solid #bf301a !important;
}

.valign-middle-holder > *:first-child{
  margin-top: -70px;
max-width: 98% !important;
}
.site-header{
  padding: 0 20px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: uppercase;
}
#wrapper .page-content{
  margin-top: 30px;
}
.page-content h1{
  font-size: 40px;
}
.site-footer .site-width{
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 20px;
  background-color: #171717;
  border-color: #070707;
}
#menu-sidebar-menu-venta-de-entradas a{
  background: none repeat scroll 0 0 #bf301a;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Montserrat, onserrat;
  padding: 20px;
  text-transform: uppercase;
}

.em-booking-form input, .em-booking-form textarea {
    border: 2px solid gray !important;
  width:100%;
  clear:both;
  color: #747474;
  background-color: #ffffff;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);

}
.em-booking-form-details{
  width:98%;
}
.em-booking-form-details label{
  clear:both;
  width:90%;
}
.em-booking-form p{
  clear: left;
}
#deseo_recibir_newsletters_er
{
    height: auto;
    left: 80px;
    margin: 6px 8px 0 0;
    position: absolute;
    width: auto;
}

.input-field-deseo_recibir_newsletters_er label {
    font-size: 12px;
    font-weight: lighter;
    margin-right: 10px;
    margin-top: 0;
    padding-left: 15px;
}

.em-booking-form input[type="text"], .em-booking-form textarea{
  border: 2px solid gray !important;
width: 100%;
clear: both;
color: #747474;
background-color: #ffffff;
box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
}
#em-booking-gateway-paypal
{
  float: right;
   margin-top: 25px;

}

#em-booking-gateway-paypal img
{
  width: 200px;
}
#em-booking-submit{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 11px;
  text-transform: uppercase;
  width: auto;
}
.em-booking-buttons{
  width: 300px;
}
.google-map.half{
 bottom: 0;
height: 300px !important;
margin: 0;
overflow: hidden;
padding: 0;
position: relative;
left: 0;
top: 0;
right: 0;
width: 100%;
float: none !important;
padding-top: 20px; 
}



