/**
 * Theme Name:     Munch
 * Theme URI:      http://themes.eugeneo.com/munch/
 * Author:         EugeneO
 * Author URI:     http://themeforest.net/user/EugeneO/portfolio/
 * Description:    Lovingly created by EugeneO.
 * Version:        1.1.6
 * Tags:           dark, light, one-column, two-columns, three-columns, right-sidebar, fluid-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments, translation-ready
 * Text Domain:    funky_theme
 **/


/* ==========================================================================
   Reset
   ========================================================================== */

@import url("normalize.css");

/* ==========================================================================
   Lists
   ========================================================================== */

menu,
ol,
ul {    padding: 0 0 0 20px }

 ul ul,
 ol ol,
 ul ol,
 ol ul {    margin: 0 }

li {    margin-top: 3px }

/* ==========================================================================
   Media
   ========================================================================== */

iframe {    max-width: 100% }

/* ==========================================================================
   Tables
   ========================================================================== */

table {
    margin: 40px 0;
    text-align: center;
    width: 100%;
}

caption {
    font-weight: 700;
    padding: 0 0 24px;
}

tr { }

thead th {
    border: 1px solid #aba69b;
    border-bottom: 2px solid #aba69b;
}

th,
tfoot td {    font-weight: 700 }

th,
td {
    border: 1px solid #aba69b;
    padding: 12px 12px;
}

 th > *:first-child,
 td > *:first-child {    margin-top: 0 }

/* ==========================================================================
   Forms
   ========================================================================== */

.content-padding form {    margin-top: 40px }

.wrapper label {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 20px 0 10px;
}

.wrapper p label {    margin-top: 0 }

.wrapper input[type="text"],
.wrapper input[type="email"],
.wrapper input[type="search"],
.wrapper input[type="url"],
.wrapper input[type="tel"],
.wrapper input[type="password"],
.wrapper input[type="datetime"], 
.wrapper input[type="date"], 
.wrapper input[type="month"], 
.wrapper input[type="week"], 
.wrapper input[type="time"], 
.wrapper input[type="datetime-local"], 
.wrapper input[type="number"]{    line-height: 1em }

.wrapper input[type="text"],
.wrapper input[type="email"],
.wrapper input[type="search"],
.wrapper input[type="url"],
.wrapper input[type="tel"],
.wrapper input[type="password"],
.wrapper input[type="datetime"], 
.wrapper input[type="date"], 
.wrapper input[type="month"], 
.wrapper input[type="week"], 
.wrapper input[type="time"], 
.wrapper input[type="datetime-local"], 
.wrapper input[type="number"],
.wrapper textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper input[type="text"],
.wrapper input[type="email"],
.wrapper input[type="search"],
.wrapper input[type="url"],
.wrapper input[type="tel"],
.wrapper input[type="password"],
.wrapper input[type="datetime"], 
.wrapper input[type="date"], 
.wrapper input[type="month"], 
.wrapper input[type="week"], 
.wrapper input[type="time"], 
.wrapper input[type="datetime-local"], 
.wrapper input[type="number"], 
.wrapper textarea,
.wrapper select {
    background-color: #FFFFFF;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #747474;
    display: block;
	margin-top: 5px;
    padding: 20px;
    width: 100%;
}

.page-content > .sidebar input[type="text"],
.page-content > .sidebar input[type="email"],
.page-content > .sidebar input[type="search"],
.page-content > .sidebar input[type="url"],
.page-content > .sidebar input[type="tel"],
.page-content > .sidebar input[type="password"],
.page-content > .sidebar input[type="datetime"], 
.page-content > .sidebar input[type="date"], 
.page-content > .sidebar input[type="month"], 
.page-content > .sidebar input[type="week"], 
.page-content > .sidebar input[type="time"], 
.page-content > .sidebar input[type="datetime-local"], 
.page-content > .sidebar input[type="number"], 
.page-content > .sidebar input[type="range"],
.page-content > .sidebar input[type="color"],
.page-content > .sidebar textarea,
.page-content  > .sidebar select {
    background-color: #FFFFFF;
    color: #747474;
}

.wrapper select {
    cursor: pointer;
    line-height: 60px;
    position: relative;
}

.wrapper textarea {
    height: 120px;
    resize: none;
}

.wrapper input[type="text"]:focus,
.wrapper input[type="email"]:focus,
.wrapper input[type="search"]:focus,
.wrapper input[type="url"]:focus,
.wrapper input[type="tel"]:focus,
.wrapper input[type="password"]:focus,
.wrapper input[type="datetime"]:focus, 
.wrapper input[type="date"]:focus, 
.wrapper input[type="month"]:focus, 
.wrapper input[type="week"]:focus, 
.wrapper input[type="time"]:focus, 
.wrapper input[type="datetime-local"]:focus, 
.wrapper input[type="number"]:focus, 
.wrapper textarea:focus,
.wrapper select:focus {    background: rgba(0,0,0,0.03) }

.wrapper input[type="radio"] {    margin: 0 16px 10px 0 }

.wrapper input[type="checkbox"] {
    height: auto;
    margin: 8px 8px 0 0;
    width: auto;
}

.wpcf7-checkbox > span { display: block; }    

.wrapper input[type="range"] { width: 100%; }

.wrapper input[type="color"] {
	background-color: #FFF;
	height: 60px;
	padding: 0 2px;
}

::-webkit-input-placeholder {    text-overflow: ellipsis }

::-moz-placeholder {    text-overflow: ellipsis }

::-moz-placeholder {    text-overflow: ellipsis }

:-ms-input-placeholder {    text-overflow: ellipsis }

.funky-button,
.funky-button:visited,
.wrapper input[type="button"],
.wrapper input[type="submit"],
.wrapper button,
.wrapper button[type="submit"],
.wrapper input[type="reset"],
.tagcloud a,
.post-navigation a,
#OT_form a.OT_Find_a_Table {
    background: #BF301A;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #FFF;
    display: inline-block; 
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1em;
    margin: 20px 0 0;
    padding: 24px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

/* Shortcode buttons with custom background colour */

.funky-button[style*="background-color"],
.funky-button[style*="background-color"]:visited,
.funky-button:hover[style*="background-color"],
.funky-button:visited:hover[style*="background-color"] {
    border: none !important;
    color: #FFF;
}

.funky-button:hover,
.funky-button:visited:hover,
.funky-button:hover[style*="background-color"],
.wrapper input[type="button"]:hover,
.wrapper input[type="submit"]:hover,
.wrapper button:hover,
.wrapper button[type="submit"]:hover,
.wrapper input[type="reset"]:hover
.tagcloud a:hover,
.post-navigation a:hover,
#OT_form a.OT_Find_a_Table:hover {
    color: #FFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.75;
}

span.required {    color: #BF301A }

/* ==========================================================================
   Typography
   ========================================================================== */

html {    font-size: 100% }

body,
textarea,
label,
.widget,
#OT_form .OT_searchTimeField,
#OT_form .OT_searchDateField,
#OT_form .OT_searchPartyField {
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

body,
textarea,
label,
.funky-dropcap:first-letter,
.widget,
#OT_form .OT_searchTimeField,
#OT_form .OT_searchDateField,
#OT_form .OT_searchPartyField { color: #7A7A7A; }

body,
textarea,
label,
.widget {    line-height: 27px }

.widget,
#OT_form .OT_searchTimeField,
#OT_form .OT_searchDateField,
#OT_form .OT_searchPartyField {    line-height: 1em }

a {
    color: #BF301A;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

a:hover {    color: #999 }

p {    margin: 20px 0 0 }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-family: Trebuchet, helvetica, arial, sans-serif;
    margin: 40px 0 0;
    text-transform: none;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 59px;
    text-transform: uppercase;
}

h2,
.text-logo {
    font-size: 27px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 37px;
    text-transform: none;
}

h3 {
    color: #BF301A;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 37px;
    text-transform: none;
}

h4,
#OT_form .OT_title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    text-transform: none;
}

h5,
.post-subtitle {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    text-transform: none;
}

h6 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    text-transform: none;
}

blockquote {
    margin: 40px;
    text-align: center;
    text-transform: none;
}

 blockquote p {
     color: #BF301A;
     font-family: Trebuchet, helvetica, arial, sans-serif;
     font-size: 18px;
     font-weight: 700;
     letter-spacing: 0;
     line-height: 27px;
 }

 blockquote > cite {
     display: block;
     margin: 20px 0 0;
 }

cite {    font-style: normal }

pre {
    border: 1px solid #aba69b;
    padding: 20px;
}

/* ==========================================================================
   Icons
   ========================================================================== */

@font-face {
    font-family: 'funky-icons';
    src: url('fonts/funky-icons.eot');
    src: url('fonts/funky-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/funky-icons.woff') format('woff'),
		url('fonts/funky-icons.ttf') format('truetype'),
		url('fonts/funky-icons.svg#funky-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="funky-icon-"],
[class*=" funky-icon-"] {
    font-family: 'funky-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.funky-icon-search:before {    content: "\f002" }

.funky-icon-mail:before {    content: "\f003" }

.funky-icon-address:before {    content: "\f041" }

.funky-icon-phone:before {    content: "\e60c" }

.funky-icon-clock:before {    content: "\e60d" }

.funky-icon-googleplus:before {    content: "\e600" }

.funky-icon-facebook:before {    content: "\e601" }

.funky-icon-instagram:before {    content: "\e602" }

.funky-icon-twitter:before {    content: "\e603" }

.funky-icon-youtube:before {    content: "\e604" }

.funky-icon-vimeo:before {    content: "\e605" }

.funky-icon-flickr:before {    content: "\e606" }

.funky-icon-dribbble:before {    content: "\e607" }

.funky-icon-foursquare:before {    content: "\e613" }

.funky-icon-minus:before {    content: "\e611" }

.funky-icon-plus:before {    content: "\e612" }

.funky-icon-menu:before {    content: "\e610" }

.funky-icon-arrow-left:before {    content: "\e60b" }

.funky-icon-arrow-down:before {    content: "\e60f" }

.funky-icon-arrow-up:before {    content: "\e60a" }

.funky-icon-arrow-right:before {    content: "\e60e" }

.funky-icon-pinterest:before {    content: "\e608" }

.funky-icon-behance:before {    content: "\e609" }

/* ==========================================================================
   Layout
   ========================================================================== */

body {
	background-attachment: fixed;
    background-color: #070707;
	background-size: cover;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#preloader {
    background: url(../images/spacer.png) no-repeat;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.no-js #preloader {    display: none }

#percent-bar {
    background-color: #BF301A;
    height: 4px;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
    width: 0;
}

#preloader .text-logo {    color: #FFF }

.js .wrapper,
.js .site-footer-wrapper { display: none; }


.wrapper {
	border-left: 0 solid #070707;
	border-right: 0 solid #070707;
    margin: 0 auto 0;
    padding-top: 200px;
    position: relative;
    z-index: 1;
}

.no-js .wrapper {    padding: 0 }

/* ---------- Header ---------- */

.site-header,
.site-header .site-width,
.header-logo,
.header-contact-info {    height: 200px }

.site-header {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
    font-size: 13px;
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 22px;	
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 999;
}

.site-header {    color: #747474; }

.no-js .site-header {    position: relative }

.admin-bar .site-header {    top: 32px }

.admin-bar.open-house .site-header {    top: 0 }

.no-js .admin-bar .site-header {    top: auto }

.site-header  .site-width {
    background: #070707;
    position: relative;
}

.header-logo,
.header-contact-info {
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
}

.header-logo,
.header-contact-info,
.header-navigation {
    display: block;
    float: left;
    width: 25%;
}

/* ---------- Logo ---------- */

.header-logo {
    position: relative;
    text-align: center;
}

.image-logo {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.text-logo {
    display: block;
    margin: 0 20px;
}

.header-logo .text-logo {    color: #FFF; }

.text-tagline {
    display: block;
    margin: 5px 20px 0;
    text-align: center;
}

.header-logo:after {
    background: #000;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
   
}

/* ---------- Contact Info ---------- */

.header-contact-info {
    position: relative;
    text-align: center;
}

 .header-contact-info span {
     display: block;
     margin: 0 20px;
 }

  .header-contact-info span + span {    margin-top: 14px }

 .header-contact-info .telephone {
     font-size: 27px;
     font-family: Trebuchet, helvetica, arial, sans-serif;
     font-weight: 700;
     letter-spacing: 0;
     line-height: 27px;
     text-transform: uppercase;
 }

 .text-tagline,
 .header-contact-info .telephone {    color: #FFF }

.map-link {
    background: #BF301A;
    line-height: 1em;
    left: 0;
    opacity: 0;
    padding: 86px 0;
    position: absolute;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    top: 0;
    width: 100%;
    z-index: 2;
}

.map-link:hover {
    color: #FFF;
    opacity: 1;
}

.header-contact-info:after {
    background: #222222;
    content: "";
    display: none;
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
}

/* ---------- Navigation ---------- */

.header-navigation {
    float: right;
    width: 50%;
}

#primary-nav {
    border-right: 0 solid #222222;
    display: table;
	margin: 0;
    padding: 0;
    text-align: left !important;	
	width: 80%;
	word-spacing: -0.27em;
    float:left;
}
#reserva-online{
    float:left;
    width: 20%;
    background: #BF301A;
    margin-top:10px;
    background: url(../images/cal.png) #BF301A;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px 5px;
    padding:5px 0;


}
#reserva-online a{

    color:#fff;
    
}
#calendario-reserva{
    margin-top:-10px;float: right; width: 500px;  z-index: 3;  position: relative;background: #BF301A;
}
#calendario-reserva input[type="hidden"]{

}
#calendario-reserva div{

   
    
}
#calendario-reserva div h4{
    font-size:12px;
    color:#fff;
    margin:0;
    padding:0;
}
#calendario-reserva div input[type="radio"]{
    margin: 0 4px 4px 15px;
}
#calendario-reserva div input[type="submit"] {
    background: none !important;
    border: none;
    
    color: #fff;
    border: solid 1px #ffffff;
    border-radius: 5;
    margin: 0;
    
    padding: 5px;
    position: relative;
    width: 100px;
  
}
#calendario-reserva div p{
    font-size:12px;
    color:#fff;
    margin:0;
    margin-bottom:10px;
}
.bootstrap-datetimepicker-widget{
  float:left;
  width: 50%;
  
}
.bootstrap-datetimepicker-widget ul{
list-style-type:none;
}
.bootstrap-datetimepicker-widget .prev{
background: url(../images/prev.png);
    background-repeat: no-repeat;
    background-size: 7px 10px;
    background-position: 6px 6px; 
}
.bootstrap-datetimepicker-widget .next{
background: url(../images/next.png);
    background-repeat: no-repeat;
    background-size: 7px 10px;
    background-position: 6px 6px; 
}



 #primary-nav > li {
     border: 0 solid #222222;
     display: inline-block;
     margin: 0;
     padding: 0;
     position: relative;
     text-align: center;
     width: 25%;
	 word-spacing: 0;
 }

 #primary-nav > li:hover {    background: #BF301A }

.navigation-rows-1 #primary-nav > li,
.navigation-rows-2 #primary-nav > li {    display: none }

/* 1 Navigation Row */

.navigation-rows-1 #primary-nav > li:nth-of-type(1),
.navigation-rows-1 #primary-nav > li:nth-of-type(2),
.navigation-rows-1 #primary-nav > li:nth-of-type(3),
.navigation-rows-1 #primary-nav > li:nth-of-type(4) {    display: inline-block }

.navigation-rows-1 #primary-nav > li > a {    padding: 93px 0 92px }

/* 2 Navigation Rows */

.navigation-rows-2 #primary-nav > li:nth-of-type(1),
.navigation-rows-2 #primary-nav > li:nth-of-type(2),
.navigation-rows-2 #primary-nav > li:nth-of-type(3),
.navigation-rows-2 #primary-nav > li:nth-of-type(4),
.navigation-rows-2 #primary-nav > li:nth-of-type(5),
.navigation-rows-2 #primary-nav > li:nth-of-type(6),
.navigation-rows-2 #primary-nav > li:nth-of-type(7),
.navigation-rows-2 #primary-nav > li:nth-of-type(8) {    display: inline-block }

#primary-nav > li:last-of-type {    margin-right: 0 }

#primary-nav > li:nth-of-type(8) {    border-right: none }

#primary-nav a {
    color: #747474;
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 13px;
    text-transform: uppercase;
    display: block;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#primary-nav a:hover {    opacity: 0.5 }

#primary-nav > li > a {
    border: 1px solid transparent;
    border-right-width: 0;
    border-top-width: 0;
    padding: 43px 0;
}

.navigation-rows-2 #primary-nav > li:nth-of-type(5) a,
.navigation-rows-2 #primary-nav > li:nth-of-type(6) a,
.navigation-rows-2 #primary-nav > li:nth-of-type(7) a,
.navigation-rows-2 #primary-nav > li:nth-of-type(8) a {    border-bottom-width: 0; }


#primary-nav ul {
    background: #BF301A;
    display: none;
    margin: 0;
    position: absolute;
    padding: 0 0 15px;
    top: 99%;
    width: 100%;
    z-index: 999;
}

#primary-nav li:hover ul {    display: block }

#primary-nav ul li {    margin: 15px }

#primary-nav ul li:first-child {    margin-top: 0 }

#primary-nav > li:hover > a,
#primary-nav ul a {    color: #FFF }

#primary-nav ul a {
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: uppercase;
}

/* ---------- Small Header ---------- */

.site-header .toggle {
    border-left: 0 solid #222;
    border-top: 0 solid #222;
    border-bottom: 0 solid #222;
    display: none;
    position: absolute;
    text-align: center;
    right: 0;
    width: 100px;
}

.header-small .site-header,
.header-small .site-header .site-width,
.header-small .header-logo,
.header-small .header-contact-info,
.header-small .header-navigation,
.header-small .toggle {    height: 160px }

.header-small .header-logo,
.header-small .header-contact-info {    border-bottom-width: 0 }

.header-small .header-logo {
	margin-left: 40px;
	text-align: left;
}

.header-small .header-logo:after {    display: none }

.header-small .site-header .text-logo { margin: 0 40px; }

.header-small .site-header .text-tagline {    display: none }

.header-small .header-contact-info,
.header-small .header-navigation {    display: none }

.header-small .toggle {
    border-left-width: 1px;
    display: block;
}

 .header-small .toggle + .toggle {    right: 100px }

.site-header .toggle,
.site-header .toggle a,
.site-header .toggle a:hover {
    color: #747474;
    opacity: 1;
}

.toggle span {
    cursor: pointer;
    height: 100%;
    display: block;
    line-height: 100px;
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    width: 100%;
}

.site-header .toggle:hover  span {    opacity: 1 }

.site-header .funky-icon-address {    font-size: 28px }

.site-header .funky-icon-menu {    font-size: 40px }

/* ---------- Content ---------- */

.page-content {
    background: #ffffff;
    position: relative;
    width: 100%;
}

 .page-content > * {
     position: relative;
     z-index: 1;
 }

.page-header,
.parallax-section {
    background: #171717;
    color: #747474;
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 0;
    line-height: 27px;
    padding-bottom: 43.75%;
    position: relative;
    text-transform: none;
}

 .page-header h1,
 .parallax-section h1 {
     color: #FFF;
     font-family: Trebuchet, helvetica, arial, sans-serif;
     font-size: 55px;
     font-weight: 700;
     letter-spacing: -3px;
     line-height: 59px;
     margin: 0;
     text-transform: none;
 }

 .post-title small,
 .page-header small,
 .parallax-section small {
     display: block;
     font-family: Trebuchet, helvetica, arial, sans-serif;
     font-size: 36px;
     font-weight: 700;
     letter-spacing: -1px;
     line-height: 36px;
     text-transform: none;
	 display: block; 
 }
 
 .page-header small,
 .parallax-section small { color: #FFF; }

 .page-header .funky-button,
 .parallax-section .funky-button {
     background: none;
     border: 2px solid #FFF;
     color: #FFF;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
 }

 .wrapper .page-header .funky-button:hover,
 .wrapper .parallax-section .funky-button:hover {
     background: none;
     border: 2px solid #171717;
     color: #171717;
 }

.small-page-header {
    height: auto;
    min-height: 230px;
    padding: 0;
}

 .small-page-header .element-height,
 .small-page-header .holder,
 .small-page-header .cont {
     display: block;
     position: relative;
 }

.fill-background {
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.page-header .element-height,
.parallax-section .element-height {
	margin-left: 13%;
	width: 74%;
}

.page-header .cont,
.parallax-section .cont {    padding: 100px 0 }

.page-header h1 + p,
.parallax-section h1 + p,
.page-header p:first-child,
.parallax-section p:first-child {    margin-top: 20px }

.content-padding > *:first-child,
.entry-body > *:first-child {    margin-top: 0 }

.content-padding {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 980px;
    padding: 60px 80px;
}

.page .entry-body {
    float: none;
    margin: 40px 0 0;
    width: auto;
}

.entry-body:first-child {    margin: 0 }

.sidebar-25 .content-padding,
.sidebar-50 .content-padding {    max-width: 100% }

.sidebar-25,
.sidebar-50 {
    float: left;
    max-width: 100%;
}

/* 1 Sidebar */

.sidebar-25 {    width: 75% }

/* 2 Sidebars */

.sidebar-50 {    width: 50% }

.content-padding > h1:first-child + p {    margin-top: 5px }

.post-title {    margin-top: 0 }

.post-subtitle {
    display: block;
    margin-top: 10px;
}

 .post-title + hr,
 .post-subtitle + hr {    margin: 40px 0 }

.archive .post-title + hr,
.blog .post-title + hr,
.single .post-title + hr {    margin-bottom: 0 }

/* ---------- Sidebars ---------- */

.sidebar-background {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 25%;
    z-index: 0;
}

.sidebar {
    float: left;
    width: 25%;
}

 .sidebar img {
     display: block;
     height: auto;
     max-width: 100%;
 }

.sidebar-links {
    height: 100%;
    position: relative;
    z-index: 1;
}

 .sidebar-background.links,
 .sidebar-links,
 .sidebar-links .sidebar-links-toggle {    background: #272727 }

.sidebar-background.links {    left: 0 }

.sidebar-links .sidebar-links-toggle span {
    border-bottom: 1px solid #373737;
    display: block;
    font-size: 40px;
    line-height: 200px;
    height: 200px;
    cursor: pointer;
    text-align: center;
}

.sidebar-links > ul {
    border-bottom: 1px solid #373737;
    border-left: none;
    border-right: none;
}

.sidebar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-links li {
    border-top: 1px solid #373737;
    margin: 0;
    position: relative;
}

.sidebar-links > ul > li:first-child {    border: none }

a.map-link,
a.map-link:hover,
.sidebar-links,
.sidebar-links a,
.sidebar-links a:hover {    color: #FFF }

 a.map-link,
 .sidebar-links,
 .sidebar-links a {
     font-family: Trebuchet, helvetica, arial, sans-serif;
     font-size: 27px;
     font-weight: 700;
     letter-spacing: -1px;
     line-height: 27px;
     text-align: center;
     text-transform: uppercase;
 }

  .sidebar-links a {
      display: block;
      padding: 16px 30px;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -ms-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
  }

  .sidebar-links a:hover {    background: #373737 }

  .sidebar-links .current_page_item:after {
      border-style: solid;
      border-width: 30px 30px 30px 0;
      border-color: transparent #d4d1c9 transparent transparent;
      content: "";
      height: 0px;
      position: absolute;
      right: 0;
      top: 0;
      width: 0px;
	  z-index: 1;
  }

.sidebar-widgets {
    float: right;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
}

.sidebar-widgets,
.sidebar-background.widgets {    background: #c9c4b7 }

.content-padding .sidebar-widgets {    background: none }

.sidebar-background.widgets {
    right: 0;
    left: auto;
}

.content-padding .sidebar-widgets .widget:first-child {    margin-top: 40px }

.content-padding .sidebar-widgets .widget {    margin: 0 0 40px }

/* ---------- Widgets ---------- */

.sidebar-widgets .widget {
    color: #747474;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 27px;
    text-transform: none;
}

.sidebar-widgets > .widget {    margin: 40px 40px 0 }

.sidebar-widgets > .widget:first-child {    margin-top: 60px }

.sidebar-widgets .widget + .widget {
    border-top: 1px dotted #aba69b;
    margin-top: 40px;
}

.content-padding .sidebar-widgets .widget + .widget {    border-color: #aba69b }

.widget > *:first-child {    margin-top: 40px }

.widget-title {
    color: #222;
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 27px;
    text-transform: none;
    margin: 40px 0 20px;
}

.widget ul,
.widget ol {
    margin: 0;
    padding: 0;
}

.widget li {    list-style-type: none }

 .widget li > ul {
     margin: 6px 0 0;
     padding-left: 30px;
 }

/* RSS */

.widget_rss li + li {    margin-top: 20px }

.post-date,
.rss-date,
.widget_rss cite {    margin: 0 0 10px }

.post-date,
.rss-date,
.rssSummary,
.widget_rss cite {    display: block }

.rss-date,
.rssSummary,
.widget_rss cite {    margin-top: 5px }

/* Search */

.searchform fieldset {    position: relative }

.searchform .s {    padding-right: 55px }

.searchsubmit {
    color: #747474;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    width: 55px;
}

.searchsubmit:hover {    color: #999999 }

.searchsubmit span {
    font-size: 18px;
    left: 0;
    margin-top: 21px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.searchsubmit input[type="submit"] {
    background: none !important;
    border: none;
    border-radius: 0;
    color: #070707;
    height: 100%;
    margin: 0;
    text-indent: -999px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.searchsubmit input[type="submit"]:hover {    background: transparent !important }

.tagcloud a {
    font-size: 12px !important;
    margin: 0 0 4px;
    padding: 15px;
}

/* ---------- Footer ---------- */

.back-to-top {
    background: #bf301a;
    bottom: -25px;
    color: #FFF;
    display: block;
    font-size: 22px;
    font-weight: 700;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
    z-index: 2;
}

.back-to-top:hover {    color: rgba(255,255,255,0.5) }

.site-footer-wrapper {
   
}

.site-footer .site-width {
	background: #171717;
	border: 0 solid #070707;
	border-top: none;
	padding: 0;
}

.site-footer {
    bottom: 0;
    
    width: 100%;
    
}

 .site-footer,
 .copyright,
 .site-footer a,
 .site-footer a:hover {
     color: #747474;
     font-family: Trebuchet, helvetica, arial, sans-serif;
     font-size: 15px;
     font-weight: 400;
     letter-spacing: 0;
     line-height: 24px;
     text-transform: none;
 }

  .site-footer a {
      text-decoration: underline;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
  }

  .site-footer a:hover {    text-decoration: none }

.footer-content {
    overflow: hidden;
    padding: 70px 80px 40px;
}

 .footer-content h4 {
     color: #FFFFFF;
     margin: 0;
     font-family: Trebuchet, helvetica, arial, sans-serif;
     font-size: 15px;
     font-weight: 700;
     letter-spacing: 0;
     line-height: 24px;
     text-transform: none;
 }

.footer-logo {
	float: left;
	margin-right: 4%;
	min-height: 10px;
	width: 18%;
}
.site-footer .footer-logo { text-decoration: none; }

.footer-logo > * { margin: 0; }

.footer-contact-info {
    float: left;
    margin-right: 4%;
    width: 38%;
}

 .footer-contact-info .half {    margin-top: 10px }

 .footer-contact-info .hours {
     color: #FFFFFF;
     font-weight: 700;
 }
 .footer-contact-info span + .hours {    margin-top: 20px; }

 .footer-contact-info .address,
 .footer-contact-info .hours,
 .footer-contact-info .telephone,
 .footer-contact-info .email {
    display: block;
    line-height: 1.6em;
 }

 .footer-contact-info .telephone,
 .footer-contact-info .email {
	padding-left: 30px;
    position: relative;
    margin: 0 0 4px;
 }

 .footer-contact-info .telephone:before,
 .footer-contact-info .email:before {    
	display: inline-block;
    margin: 0 10px 0 0;
 }

.footer-navigation {
    float: right;
    overflow: hidden;
    width: 36%;
}

#footer-links {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

 #footer-links li {
     display: inline-block;
     margin: 10px 20px 0 0;
 }

 #footer-links + h4 {    margin: 40px 0 0 }

.site-footer .social-button,
.site-footer .social-button:hover {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    margin: 10px 10px 0 0;
    text-decoration: none;
}

.copyright {
    clear: both;
    padding: 0 80px 60px;
}

	.copyright-content { margin-left: 22% }
	

/* ---------- Archive ---------- */

.entry-body article + article {
    border-top: 1px dotted #aba69b;
    margin-top: 40px;
}

.entry-body .sticky + article { 
	border-top-style: solid; 
	border-top-width: 4px; 
    border-color: #aba69b;
}

.post-meta,
.post-category a,
blockquote cite,
.text-tagline,
.post-date,
.rss-date,
.widget_rss cite,
#OT_form  .OT_subtitle,
.gallery-caption.wp-caption-text {
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 13px;
    text-transform: uppercase;
}

.post-meta {    margin-top: 5px; }

 .post-meta > span {    display: inline-block }

  .post-meta > span + span:before {    content: " | " }

 .post-category a,
 .post-meta span a {    color: #7A7A7A }

 .post-category a,
 .post-meta span a:hover {    color: #999999 }

.more-link {
    display: block;
    font-weight: 700;
    margin-top: 20px;
}

.pagination {
    margin: 60px 0 0;
    text-align: center;
}

.page-numbers {
    display: inline-block;
    margin: 0 10px;
}

/* ---------- Single ---------- */

.entry-body {
    float: left;
    margin: 40px 5% 0 0;
    width: 70%;
}

.entry-body article:first-child > *:first-child {    margin-top: 0 }

.sidebar .post-meta {
    font-weight: 700;
    background: #F6F6F6;
	margin: 0;
    padding: 20px;
}

 .sidebar .post-meta span {
     display: block;
     margin: 0;
 }

.sidebar .post-meta-author:before,
.sidebar .post-meta-date:before,
.sidebar .post-comments:before {    content: "" }

.wp-post-image {
	background: #171717;
    margin: 40px auto;
    display: block;
}

.post-feature-image .wp-post-image { margin: 0; }

.post-feature-image { margin: 40px 0 0; }

.post-feature-image + h2 { margin: 20px 0 0; }

.wp-link-pages {
    margin: 40px 0;
    text-align: center;
}

.post-tags,
.post-tags a {
    color: #999;
    margin: 40px 0 0;
    font-style: italic;
}

 .post-tags a:hover {    color: #999999 }

.post-navigation.widget > a:first-child {    margin-top: 0 }

.post-navigation a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
	padding: 17px;
    width: 49%;
}

.post-navigation a[rel="next"] {    float: left }

.post-navigation a[rel="prev"] {    float: right }

/* ---------- Search ---------- */

.page .searchform {    margin-top: 40px }

/* ---------- Home ---------- */

.page-links {
    background-color: #BF301A;
	clear: both;
    overflow: hidden;
    z-index: 0;
}

.page-links-box {
    display:block;
    position: relative;
    width: 100%;
    height: 333px;
    background: #171717 !important;
}

 .page-links-box > a {
     background: #171717;
     opacity: 0;
     -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
     -ms-transition: opacity 0.5s;
     -o-transition: opacity 0.5s;
     transition: opacity 0.5s;
 }

 .page-links-box > a:hover {    opacity: 0.5 }

/* 1 Columns */

.page-links-col-1 .page-links-box:nth-of-type(2n-1) {    background-color: rgba(255,255,255,0) }

.page-links-col-1 .page-links-box:nth-of-type(2n) {    background-color: rgba(255,255,255,0.08) }

/* 2 Columns */

.page-links-col-2 .page-links-box:nth-of-type(4n-3) {    background-color: rgba(255,255,255,0) }

.page-links-col-2 .page-links-box:nth-of-type(4n-2) {    background-color: rgba(255,255,255,0.08) }

.page-links-col-2 .page-links-box:nth-of-type(4n-1) {    background-color: rgba(255,255,255,0.08) }

.page-links-col-2 .page-links-box:nth-of-type(4n) {    background-color: rgba(255,255,255,0) }

/* 3 Columns */

.page-links-col-3 .page-links-box:nth-of-type(6n-5) {    background-color: rgba(255,255,255,0) }

.page-links-col-3 .page-links-box:nth-of-type(6n-4) {    background-color: rgba(255,255,255,0.08) }

.page-links-col-3 .page-links-box:nth-of-type(6n-3) {    background-color: rgba(255,255,255,0) }

.page-links-col-3 .page-links-box:nth-of-type(6n-2) {    background-color: rgba(255,255,255,0.08) }

.page-links-col-3 .page-links-box:nth-of-type(6n-1) {    background-color: rgba(255,255,255,0) }

.page-links-col-3 .page-links-box:nth-of-type(6n) {    background-color: rgba(255,255,255,0.08) }

/* 4 Columns */

.page-links-col-4 .page-links-box:nth-of-type(8n-7) {    background-color: rgba(255,255,255,0) }

.page-links-col-4 .page-links-box:nth-of-type(8n-6) {    background-color: rgba(255,255,255,0.08) }

.page-links-col-4 .page-links-box:nth-of-type(8n-5) {    background-color: rgba(255,255,255,0) }

.page-links-col-4 .page-links-box:nth-of-type(8n-4) {    background-color: rgba(255,255,255,0.08) }

.page-links-col-4 .page-links-box:nth-of-type(8n-3) {    background-color: rgba(255,255,255,0.08) }

.page-links-col-4 .page-links-box:nth-of-type(8n-2) {    background-color: rgba(255,255,255,0) }

.page-links-col-4 .page-links-box:nth-of-type(8n-1) {    background-color: rgba(255,255,255,0.08) }

.page-links-col-4 .page-links-box:nth-of-type(8n) {    background-color: rgba(255,255,255,0) }

.page-links-col-2 .page-links-box,
.page-links-col-3 .page-links-box,
.page-links-col-4 .page-links-box {    float: left }

.page-links-col-2 .page-links-box {    width: 50% }

.page-links-col-3 .page-links-box {    width: 33% }

.page-links-col-3 .page-links-box:nth-of-type(3n) {    width: 34% }

.page-links-col-4 .page-links-box {
    padding-bottom: 25%;
    width: 25%;
}

.page-links-box .cont {    padding: 60px }

.page-links-box h2 {
    color: #FFF;
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 59px;
    margin: 0;
    text-transform: none;
}

 .page-links-box h2 small {
     display: block;
     color: #FFF;
     font-family: Trebuchet, helvetica, arial, sans-serif;
     font-size: 27px;
     font-weight: 700;
     letter-spacing: -1px;
     line-height: 27px;
     margin: 0;
     text-transform: none;
 }

.page-links-box > a {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

/* ---------- Sequence ---------- */

.sequence {
    background: #222;
    height: 0;
    margin: 0;
	max-width: none;
	overflow: hidden;
    padding-bottom: 43.75%;
    position: relative; /* required */
}

.sequence-canvas {
    /* required */
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sequence > .sequence-canvas > li {
    /* required */
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.sequence > .sequence-canvas li > * {
    /* required */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* ----- Start state ----- */

.sequence-frame {
	background: #171717;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

 .sequence-frame .cont {
     padding: 0 0 10%;
     -webkit-transition: padding 2s;
     -moz-transition: padding 2s;
     -ms-transition: padding 2s;
     -o-transition: padding 2s;
     transition: padding 2s;
 }

 .sequence-frame .funky-button {    margin-top: 20px }

/* ----- Animate In end state ----- */

.animate-in .sequence-frame {    opacity: 1 }

.animate-in .cont {
    padding-bottom: 0;
    -webkit-transition: padding 2s;
    -moz-transition: padding 2s;
    -ms-transition: padding 2s;
    -o-transition: padding 2s;
    transition: padding 2s;
}

/* ----- Animate Out end state ----- */

.animate-out .sequence-frame {    opacity: 0 }

.animate-out .cont {
    padding-bottom: 10%;
    -webkit-transition: padding 2s;
    -moz-transition: padding 2s;
    -ms-transition: padding 2s;
    -o-transition: padding 2s;
    transition: padding 2s;
}

/* Pagination */

.sequence-pagination {
    bottom: 40px;
	left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
	right: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
}

 .sequence-pagination li {
     cursor: pointer;
     display: inline-block;
     margin: 0;
 }

  .sequence-pagination li span {
      border: 2px solid #FFF;
      border-radius: 100%;
      display: block;
      height: 18px;
      margin: 0 4px;
      width: 18px;
  }

 .sequence-pagination li.current span {    background: #FFF }

/* ---------- Parallax ---------- */

.parallax-section {
    min-height: 600px;
    padding: 0;
    position: relative;
    z-index: 1;
}

.fixed-background {    background-attachment: fixed }

.parallax-section .alignleft,
.parallax-section .alignright,
.parallax-section .aligncenter {
    float: none;
    margin: 0 10px;
}

	.fill-background-content {
		background: #070707;
		padding: 40px; 
		word-break: break-word;
	}

/* ----- Contact ----- */

.google-map {
	float: left;
	min-height: 540px;
	overflow: visible;
    position: relative;
    width: 50%;
}


.google-map + script + .content-padding {
	float: left;
    min-height: 1px;
    width: 50%;
}

.contact-info {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    word-wrap: break-word;
}

 .contact-info span {
     display: inline-block;
     margin: 0 45px;
     position: relative;
     text-align: left;
 }

 .contact-info span:before,
 .footer-contact-info .telephone:before,
 .footer-contact-info .email:before {
     font-family: 'funky-icons';
     font-size: 18px;
 }

 .contact-info span:before {
     clear: both;
     display: block;
     float: left;
     font-size: 24px;
     font-weight: 400;
     line-height: 34px;
     margin: 0 0 0 -45px;
     text-align: center;
     width: 45px;
 }

 .contact-info .address:before {    content: "\f041" }

 .contact-info .telephone:before,
 .footer-contact-info .telephone:before {    content: "\e60c" }

.footer-contact-info .email:before {    content: "\f003" }

.contact-info .hours:before {    content: "\e60d" }

/* ----- Gallery ----- */

.page-gallery {    background: #272727 }

.page-gallery .gallery { margin-top: 0; }

.page-gallery .gallery-item .gallery-caption {    display: block }

/* ----- COMMENTS ----- */

#comments-holder {
    border-top: 2px solid #222;
    margin: 40px auto 0;
}

 #comments-holder > p {    margin-bottom: 40px }

.comments-header {    position: relative }

#comments-title {    line-height: 1em }

.comment-navigation {
    margin: 40px 0;
    overflow: hidden;
}

 .comment-navigation > div {
     float: left;
     width: 50%;
 }

 .comment-navigation .nav-previous {
     float: right;
     text-align: right;
 }

 .comment-navigation > div:empty {    display: none }

 .comment-navigation a { }

  .comment-navigation a span { }

#comments {    clear: both }

#comments {
    margin: 40px 0 0;
    padding: 0;
}

.comment,
.pingback {
    border-top: 1px dotted #aba69b;
    list-style-type: none;
    margin: 0;
}

#comments > .comment:first-child,
#comments > .pingback:first-child {    border: none }

.comment-holder {
    clear: both;
    display: block;
    margin: 40px 0;
    overflow: hidden;
    padding: 40px;
    position: relative;
}

.comment > .comment-holder {    padding: 0 0 0 80px }

.pingback footer {    display: none }

#comments > li:first-child > .comment-holder {    border: none }

.comment-holder .avatar {
    left: 0;
    position: absolute;
    top: 0;
}

/* ===[ Nested comments ]=== */

.children {
    margin: 0;
    padding: 0;
}

 .children .comment-holder {    margin-left: 50px }

 .children .children .comment-holder {    margin-left: 100px }

 .children .children .children .comment-holder {    margin-left: 150px }

 .children .children .children .children .comment-holder {    margin-left: 200px }

 .children .children .children .children .children .comment-holder {    margin-left: 250px }

 .children .children .children .children .children .children .comment-holder {    margin-left: 300px }

.comment-author {
	display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    word-wrap: break-word;
}

 .comment-content > *:first-child {    margin-top: 0 }

.comment-reply-link {
    display: block;
    margin-top: 20px;
}

.comment-date {   display: block; }

 .comment-date a,
 .comment-reply-link {    color: #7A7A7A }

 .comment-date a:hover,
 .comment-reply-link:hover {    color: #999 }

/* .bypostauthor > .comment-holder > .comment-content,
.admin-comment .comment-content{} */

.comment-content {
    clear: both;
    margin-top: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.comment-login {
    border-top: 1px dotted #aba69b;
    margin: 0;
    padding-top: 60px;
}

#respond {    margin: 40px 0 0 }

.comment #respond {    margin: 40px 0 }

#cancel-comment-reply-link {
    float: right;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.comment-reply-title {    margin: 0 }

.comment-form-comment {
    display: inline-block;
    width: 100%;
}

span.required {
    color: #BF301A; /* Default Accent Colour */
}

label.error {
    font-weight: 400;
    color: #FF0000;
}

#respond label,
#respond label + span {    display: none }

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {    margin-top: 20px }

.form-submit {    margin-top: 16px }

 .form-submit input {
     line-height: 1em;
     margin-top: 0;
     width: 100%;
 }

/* ----- MediaElement ----- */

.media-wrapper > .wp-video {    width: auto !important }

.mejs-audio {    height: 51px !important }

.mejs-audio,
.wp-video {    margin-top: 40px }

.mejs-container.mejs-video {
    height: auto !important;
    padding-top: 56.3%;
    width: 100% !important;
}

.mejs-overlay,
.mejs-poster {
    height: 100% !important;
    width: 100% !important;
}

.mejs-mediaelement video {
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
}

.mejs-container,
.mejs-embed,
.mejs-embed body {    background: transparent !important }

 .mejs-container .mejs-overlay-play {    background: rgba(0,0,0,0.5) }

 .mejs-container .mejs-overlay-button {    background: none }

.mejs-overlay-button:after {
    color: #FFF;
    content: "\e601";
    display: block;
    font-family: 'funky-icons';
    font-size: 87px;
    line-height: 100px;
    text-align: center;
}

.mejs-container .mejs-inner .mejs-controls {    background: #171717 }

/* Fix for last item dropping below the controls. */

.mejs-container .mejs-controls > div:last-of-type {
    position: relative;
    clear: both;
    float: right;
    top: -31px;
}

.mejs-inner .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-inner .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {    background: #999 }

.mejs-inner .mejs-controls .mejs-time-rail .mejs-time-current {    background: #FFF }

.mejs-inner .mejs-controls .mejs-volume-button .mejs-volume-slider {    background: #171717 }

.mejs-controls button {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/* ==========================================================================
   STYLING CLASSES
   ========================================================================== */

.site-width {
    margin: 0 auto;
    max-width: 1600px;
}

.valign-middle-holder:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.31em;
    width: 0px;
}

.valign-middle-holder > *:first-child {    max-width: 98% !important }

.valign-middle {
    display: inline-block;
    position: static;
    vertical-align: middle;
    max-width: 98%;
}

.element-height {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.holder {
    display: table;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 3;
}

.cont {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    z-index: 4;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.fourth,
.third,
.half,
.two-thirds,
.three-fourths {
    float: left;
    margin-right: 4%;
    min-height: 1px;
}

.end {    margin-right: 0 }

.fourth {    width: 22% }

.third {    width: 30.66% }

.half {    width: 48% }

.two-thirds {    width: 65.33% }

.three-fourths {    width: 74% }

/* ----- Image Alignment ----- */

.hentry img {
	height: auto;
	max-width: 100%;
}

img[class*="align"],
div[class*="align"] img,
figure[class*="align"] img {
    display: block;
    height: auto;
}

div[class*="align"],
figure[class*="align"] {    max-width: 100% }

.post-content img,
.comment img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
img.size-full,
img.size-large,
.wp-post-image {
    height: auto;
    max-width: 100%;
}

/* Left */

.alignleft {    float: left }

.wp-caption.alignleft {
    margin-right: 25px;
    margin-top: 26px;
}

img.alignleft {    margin: 8px 25px 16px 0 }

/* Right */

.alignright {    float: right }

.wp-caption.alignright {
    margin-left: 25px;
    margin-top: 26px;
}

img.alignright {    margin: 8px 0 16px 25px }

/* Centre */

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .aligncenter img {    margin: 0 auto }

p > a > .aligncenter {
    margin-bottom: 24px;
    margin-top: 24px;
}

.wp-caption {    margin-top: 10px }

p + .wp-caption {    margin-top: 24px }

.wp-caption.aligncenter,
p + .wp-caption.aligncenter {    margin-top: 40px }

/* None */

img.alignnone,
div.alignnone,
figure.alignnone,
.wp-caption.none {    margin: 0 }

.alignnone img {    margin: 0 }

.alignnone .wp-caption-text {    width: 100% }

/* Captions */

.wp-caption-text {
    font-size: 15px;
    line-height: 27px;
    margin: 16px 0;
    opacity: 0.5;
}

/* ==================================================
   GALLERY SHORTCODE
   ================================================== */

.gallery {
    margin: 40px 0 0 0;
    overflow: hidden;
}

.gallery:last-child {    margin-bottom: 0 }

.gallery > br {    display: none }

.gallery .gallery-item {
    float: left;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1 .gallery-item {    width: 100% }

.gallery-columns-2 .gallery-item {    width: 50% }

.gallery-columns-3 .gallery-item {    width: 33.333% }

.gallery-columns-4 .gallery-item {    width: 25% }

.gallery-columns-5 .gallery-item {    width: 20% }

.gallery-columns-6 .gallery-item {    width: 16.666% }

.gallery-columns-7 .gallery-item {    width: 14.285% }

.gallery-columns-8 .gallery-item {    width: 12.5% }

.gallery-columns-9 .gallery-item {    width: 11.111% }

.gallery-item .gallery-icon {    background: #070707; }

.gallery-item a {
    display: block;
    text-align: center;
}

.gallery-item img {
    height: auto;
    transition: opacity 0.3s ease-out;
    width: 100%;
}

.gallery-item:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    opacity: 0.25;
}

.gallery-caption {
	bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.gallery-item:hover .gallery-caption {    opacity: 1 }

.gallery-caption.wp-caption-text {
    color: #FFF;
    margin: 0;
}

/* ===[ Disable captions when columns are too narrow ]=== */

.main .gallery-columns-3 .gallery-caption,
.main .gallery-columns-4 .gallery-caption,
.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9  .gallery-caption {    display: none }

/* ==========================================================================
   Funky Shortcodes
   ========================================================================== */

/* ---------- Menu Item ---------- */

.hr + .funky-menu-item,
hr + .funky-menu-item { margin-top: 40px; }

.funky-menu-item-label {
    background: #BF301A;
    font-family: Trebuchet, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 13px;
    padding: 24px;
    text-transform: uppercase;
}

 .funky-menu-item-content  {    border-top: 0 dotted #aba69b }
 
 .funky-menu-item .funky-menu-item-image {
	 max-width: 25%;
	 margin: 0 4% 0 0;
 	 float: left;
 }
	
 .funky-menu-item-label + .funky-menu-item-content,
 .funky-menu-item + .funky-menu-item .funky-menu-item-label + .funky-menu-item-content {
	border-color: #BF301A;
	border-top-style: solid;
 }
 
 .has-image .funky-menu-item-title + .funky-menu-item-price + .funky-menu-item-description {
	 margin: 0;
 	 width: 71%;
 }
 
.sidebar  .widget:first-child div .funky-menu-item:first-child h4 { margin-top: 0; }

.sidebar .funky-menu-item-title,
.sidebar .funky-menu-item-description { width: 76%; }
.sidebar .funky-menu-item-price { width: 20%; }


/* ---------- Accordion ---------- */

.funky-toggle-item {
    background: none;
    border: none;
    margin: 0;
}

 .funky-toggle-item + .funky-toggle-item {    border-top: 1px dotted #aba69b }

.funky-toggle-button {    padding: 40px 0 }

 .funky-toggle-button h4 {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    text-transform: none;
 }

.funky-toggle-button:hover h4 {    color: #999 }

.funky-toggle-content {
    margin: -20px 0 0;
    overflow: hidden;
    padding: 0 0 40px;
}

 .funky-toggle-content > *:first-child {    margin-top: 0 }

/* ---------- Quotes ---------- */

blockquote.alignleft,
blockquote.alignright {
    margin: 30px;
    padding: 0;
    text-align: initial;
}

/* ---------- Box ---------- */

.funky-box {
    background-color: #FFF;
    border: 1px solid #DDD;
    color: #070707;
    font-size: 1em;
    line-height: 24px;
    margin: 24px 0 0;
    padding: 20px;
}

.funky-box.blue-box,
.funky-box.green-box,
.funky-box.red-box {    border: none }

.funky-box > *:first-child {    margin-top: 0 }

.funky-box a {    border: none }

.funky-box p {    margin: 20px 0 0 }

/* ---------- Buttons ---------- */

#wrapper .funky-button.button-small {
    font-size: 0.75em;
    line-height: 1em;
}

#wrapper .funky-button.button-large {
    font-size: 1.25em;
    line-height: 1em;
}

/* ---------- Divider ---------- */

hr,
.hr {
    border-top: 1px dotted #aba69b;
    border-bottom: none;
    border-width: 1px;
    clear: both;
    margin: 40px auto 0;
    position: relative;
   color: #aba69b;

border: 0;

}

hr.thick {
	border-top-style: solid;
	border-width: 1px;
    border-style: solid;
border-width: 2px !important;
margin-top: 15px !important;
}

.top {    width: 95% }

 .top a {
    height: 0;
    padding: 0;
    right: -5%;
    text-align: right;
    top: -7px;
    width: 5%;
 }

hr:after,
.hr:after {
    content: "";
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #aba69b transparent transparent transparent;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 0;
    width: 0;
}

.thick:after,
.top:after,
.clearboth:after {    content: none }

.wrapper .top a,
.wrapper .top a:visited,
.wrapper .top a:hover,
.wrapper .top a:visited:hover {    color: #aba69b }

/* ---------- Drop cap ---------- */

.funky-dropcap:first-letter { padding: 5px 24px 0; }

/* ---------- Pages ---------- */

.funky-pages-image {    margin-top: 24px }

/* ---------- Posts ---------- */

.funky-posts {    margin-top: 40px }

 .funky-posts article + article {
     border: none;
     margin: 10px 0 0;
 }

/* ---------- OpenTable ---------- */

form#OT_form {
    margin-top: 40px;
    width: auto;
}

script:first-child + link + style + #OT_form,
script:first-child + link + #OT_form {    margin-top: 0 }

#OT_form .OT_wrapper {
    height: auto;
    background: none;
    border: none;
    border-radius: 0;
    width: auto;
    float: none;
}

#OT_form .OT_header {
    float: none;
    width: 100%;
}

#OT_form  .OT_title {
    margin: 0;
    float: none;
    width: 100%;
    text-align: center;
}

#OT_form  .OT_subtitle {
    clear: both;
    float: none;
    margin: 5px 0 0;
    text-align: center;
    width: 100%;
}

#OT_form  .OT_list {
    height: auto;
    margin: 0;
    width: 100%;
}

#OT_form .OT_day,
#OT_form .OT_time,
#OT_form .OT_party {
    background-color: #FFF;
    border: none;
    box-sizing: border-box;
    color: #747474;
    display: block;
    float: left;
    height: auto;
    margin: 20px 0 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 32%;
}

#OT_form .OT_day,
#OT_form .OT_time {    margin-right: 2% }

#OT_form .OT_day {    background-position: -5px -1px }

#OT_form .OT_time {    background-position: -5px -51px }

#OT_form .OT_party {    background-position: -5px -98px }

#OT_form .OT_searchTimeField,
#OT_form .OT_searchDateField,
#OT_form .OT_searchPartyField {
    background: none;
    height: auto;
}

#OT_form #OT_timeList,
#OT_form #OT_partyList {
    top: 100%;
    left: 0;
    width: 99%;
}

#OT_form  .OT_submit {
    float: none;
    width: 100%;
    border: none;
    margin: 0;
    padding: 20px 0 0;
    display: block;
    height: auto;
    clear: both;
}

#OT_form #OTButton {    width: auto }

#OT_form .OT_Find_a_Table {
    height: auto;
    margin: 0 !important;
}


.ui-datepicker.ui-widget { 
	min-width: 210px; 
	width: auto;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {    visibility: hidden }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {    clear: both }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {    *zoom: 1  }


/* ==================================================================================================
    PRINT STYLES    
   ================================================================================================== */

@media print { 
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a {    text-decoration: underline }

    a[href]:after {    content: " (" attr(href) ")" }

    abbr[title]:after {    content: " (" attr(title) ")" }

    /*
         * Don't show links for images, or javascript/internal links
         */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {    content: "" }

    pre,
    blockquote {    page-break-inside: avoid }

    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }

    tr,
    img {    page-break-inside: avoid }

    img {    max-width: 100% !important }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {    page-break-after: avoid }
}
/* ARTIST */
.su-column-size-1-4{
    width: 25%;
    display: block;
    margin-right: 10px;
    float: left;
}
.artistContent .su-spoiler-icon-plus .su-spoiler-title{
  display: none;
}
.artistContent:after{

 clear: both;
}
.artistContent .su-spoiler-icon-plus.su-spoiler-closed .su-spoiler-title{
  display: block;
}

.artistContent .su-spoiler-content.su-clearfix {
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
}

.artistContent img
{
  border: 3px solid #c73434;
}

.artistContent
{
  margin-top: 35px;
}

.textContent
{
   float: left;
    padding: 0 10px;
    width: 70%;
}

.textContent p
{
  margin-top: 0;
}

.textContent li
{
  font-weight: bold;
}

.textContent li a, .textContent li span
{
  font-weight: normal;
}

.header_textContent p
{
  font-style: italic;
}

.header_textContent h4
{
  margin-top: 0;
}

#html5-watermark
{
  display:none !important;
}

.interestLinks
{
  text-align: center;
}
.cardamomoButton
{
    background-color: #bf301a;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: montserrat;
    padding: 10px;
    font-size: 14px;
}

/* ESPECTACULOS */

.showEvent .show
{
    margin-bottom: 0;
    margin-top: 5px;
}

.show .imgFigurants {
    float: left;
    margin-top: -10px;
}

.imgFigurants img {
    border: 3px solid #bf301a;
    width: 120px;
    height: 120px;
}

.sessionsShow {
    line-height: 20px;
    margin-bottom: 30px;
}

.sessionsShow .description
{
    font-size: 12px;
    font-style: italic;
}

.EventFigurants.large_figurants {
    margin-top: 6px;
}

.EventFigurants
{
    float: left;
    list-style: outside none none;
    margin-left: 20px;
    margin-top: 18px;
    padding: 0;
}

.showEvent .EventFigurants
{
    margin-top: 0;
    margin-left: 30px;
}

.show {
    line-height: 20px;
    margin-bottom: 50px;
    margin-top: 25px;
    overflow: hidden;
}

.show p
{
    margin-top: 10px;
}

.EventFigurants li
{
    font-weight: bold;
}

.EventFigurants span
{
    font-weight: normal;
}

.show h3 {
    font-size: 20px;
}
.events-table-link-left{
    float:left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 5px;
}
.left-link-event:after{
    content:'';
    display:block;
    clear: both;
}
.events-table-link-left a
{
    background: none repeat scroll 0 0 #bf301a;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: Montserrat, onserrat;
    padding: 10px;
    text-transform: uppercase;
}
.em-booking-message-error{
    background-color: #FFEBE8;
    border: 1px solid #C00;
}
.em-booking-message{
    margin: 10px 0px;
    padding: 10px;
    color: #333;
    border-radius: 3px;
}
/* video home */
video {
    width: 100%;
}
#video-player{
    min-height: 333px;
}

/* espectaculos home */
.homeespectaculos{
    width: 100%;
    top:10px;
    margin:0px 5px;
    margin-top:-30px;

}
.homeespectaculos h4{
    color:#fff;
    margin-bottom: 10px;
}
.homeespectaculos .item_h{
    width: 100%;
    margin-bottom: 15px;

}
.homeespectaculos .item_h img{
    float:left;
    width: 68px;
    margin-right: 10px;
}
.homeespectaculos .item_h div{
    width: 100%;
    margin:0;
    padding:0;
    line-height: 15px;
    display: block;
    min-height:68px; 
}
.homeespectaculos .item_h div h5{
    color:#fff;
    font-size:15px;
    margin:0px;
    padding:0px;
    top:0px;

}
.homeespectaculos .item_h div p{
    margin:0px;
    padding:0px;
    top:0px;
    font-size:12px;
}
.homeespectaculos .item_h div a{
    margin:0px;
    padding:0px;
    margin-top:10px;
    color: #7A7A7A;
    font-size:12px;
}
