<h1 class="post-title"><? echo $artist['Artist']['name'];?></h1>
<b><? foreach($typeartists as $clave=>$valor):?>
	<? if($clave == $artist['Artist']['type']):?>
		<p><? echo $valor;?></p>

	<? endif;?>
	<? endforeach;?>
</b>
<hr class="thick">
<div class="entry-body">
	<div itemprop="articleBody">
		<div class="artistContent">
		<img class="size-medium wp-image-208" src="<? echo $this->Html->url('/');?>files/artist/photo/<? echo $artist['Artist']['photo_dir'];?>/<? echo $artist['Artist']['photo'];?>" alt="<? echo $artist['Artist']['name'];?>" width="960" height="600">
			 
			 
				<div class="header_textContent">
					<a href="<? echo $artist['Artist']['url_web'];?>"><? echo $artist['Artist']['url_web'];?></a>
					
					
				</div>
			
				<div> <? echo $artist['Artist']['description'];?></div>
				<? echo $this->Bonzzay->videos($artist['Artist']['url_video'], $artist['Artist']['name'], 960 , 400);?>

			
		</div>
		<div style="clear:both;"></div>
	</div>
</div>