<h1 class="post-title"><? echo $content['Content']['title'];?></h1>
<hr class="thick">
<div class="entry-body">
<? echo $content['Content']['text'];?>
	<? if($content['Content']['slider_id'] != 0){
		echo $this->element('slider', array('sliders' =>$content['Slider'],'id' => 'slider'));
	}?>
</div>