<? foreach($menusgallery as $gallery):?>

	<div class="parallax-section customBG" style="height: 625px;">

	 	<span class="fill-background" style="background-image: url(<? echo $this->Html->url('/');?>files/menu/image/<? echo $gallery['Menu']['image_dir'];?>/<? echo $gallery['Menu']['image'];?>); background-position: 50% -63px;" data-stellar-background-ratio="0.5"></span>

	 	<div class="element-height">
	 		<div class="holder">
	 			<div class="cont">
	 				<div class="fill-background-content">
	 					<h1><a id="parallax_1" href="<? echo $this->Html->url('/');?><? echo $gallery['Page']['slug'];?>" alt="Galería de fotos"><? echo $gallery['Menu']['name'];?></a></h1>
	 				</div>
	 			</div>
	 		</div>
	 	</div>

	 </div>
 <? endforeach;?>